include README.md
include LICENSE
include entoolkit/epanet/darwin-x64/*
include entoolkit/epanet/darwin-arm64/*
include entoolkit/epanet/linux-x64/*
include entoolkit/epanet/windows-x64/*
include entoolkit/epanet/windows-x86/*